:root{
    --maincolor: #367af1;
    --secondarycolor: white;
    --mainfont: 2.0vw;
}

p {
    color: var(--secondarycolor);
    text-align:center;
}

h3 {
    color: var(--secondarycolor);
    font-size: var(--mainfont);
    text-align:center;
}

.introduction-banner {
    background-color: var(--maincolor);
    opacity:80%;
    box-shadow: 5px 10px;
    width:100%;
    min-height:40%;
    margin: auto;
    padding-bottom:1%;
 
}

.navigation-menu {
    
    display: flex;
    justify-content:center;
    width:100%;
    min-height:30%;
    
    
}

.navigation-menu ul li{
    display:inline;
    list-style-type:none;
    padding:0 0 10px 10px;
}

h1{
    font-size:6vw;
    text-align:center;
    margin-bottom:1%;
}


a {                        
    font-size: 2.75vw;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration:none;
    color: var(--secondarycolor);
}

.navigation-button {
    padding-top:2.5%;
    width:10%;
    background-color:var(--maincolor);
}

.navigation-button:hover {
    padding-top:2.5%;
    width:10%;
    background-color:orange;
}


.main-image img{
    padding-top:1%;
    display:flex;
    width:90%;
    height:75%;
    margin:auto;
}

.main-image img:hover{
    padding-top:1%;
    display:flex;
    width:95%;
    height:80%;
    margin:auto;
}



.middle-section {
    display:flex;
    flex-wrap:wrap;
}

.placeholder-box{
    margin:auto;
    background-color:var(--maincolor);
    border-radius: 40px;
    opacity:95%;
    box-shadow:5px 10px;  
    width:40%; 
    height:20%;
    padding:2%;
}

#project-section {  
}

#contact-section {  
}

.placeholder-box:hover{
    opacity:50%;
}



.horizontal-content {
    width:90%;
    background-color:var(--maincolor);
    margin:auto;
    margin-top:5%;
    margin-bottom:5%;
    text-align:center;
    padding:2%;
    border-radius:40px;
}


.contact-list li{
    margin:auto;
    color: var(--secondarycolor);
    font-size: var(--mainfont);
}