    

        <!--Here comes some javascript elments, with a being a VAR-->
     <div class="slideshow-gimmick">
        {{!-- <div class="Slide fade">
            <img src="/images/JasonMaBanner.jpg">
        </div>
        <!--Here comes some javascript elments, with a being a VAR--> --}}
        <a class="prev" id="prevButton">&#10094;</a>
        <a class="next" id="nextButton">&#10095;</a>
    </div>
       


           
<section class="main-image">
<img src="/images/JasonMaBanner.jpg" id="slideshow-display">
</section>
        


        
        <!--Here comes some javascript elments, with a being a VAR-->
       
   

