    

        <!--Here comes some javascript elments, with a being a VAR-->
     <div class="slideshow-gimmick">
        {{!-- <div class="Slide fade">
            <img src="/images/JasonMaBanner.jpg">
        </div>
        <!--Here comes some javascript elments, with a being a VAR--> --}}
        <a class="prev" id="prevButton">&#10094;</a>
        <a class="next" id="nextButton">&#10095;</a>
    </div>
       


           
<section class="main-image">
<img src="/images/JasonMaBanner.jpg" id="slideshow-display">
</section>
        
 <section class="horizontal-content">
            <p> Welcome to the Portfolio - SERVERSIDE Edition </p> 
            <ul>
                <li> 8/30/2021 - Succesfully deployed the live server rendition<br>
                    of Professional Portfolio. This application utilizes Node Js, Express, Sequelize, <br>
                    MySql, JAWSDB , Handlebars, Heroku and other dependencies.

                </li>
                <li> 
                    Future renditions would include a video catalogue of application walkthroughs, better UI.
                    <br>
                    Need to study CSS animations to "fade" away the slideshow"
                </li>
            </ul>      
</section>

        
        <!--Here comes some javascript elments, with a being a VAR-->
       
   
<script type="text/javascript" src="/js/slideshow.js"></script>
