   <section class="horizontal-content">
        <h3 class = "h1-Ver2"> DEDICATED RELIABLE PROFESSIONAL </h3>
        <p> Hello, my name is Jason Ma, an dedicated, reliable professional
        <p>
        <ul>
            <li class = "blackLi"> Experienced in both private sector and the public sector</li>
            <li class = "blackLi"> Working as a Loan processor, Credit Human</li>
            <li class = "blackLi"> Currently, studying Coding</li>
            <a class="downloadable" href="assets/download/Jason_Ma_Resume.PDF" download="Jason_Ma_Resume.PDF">CLICK TO DOWNLOAD RESUME</a>
        </ul>
    </section>

<section class = "education">
    <h1 class = "h1-Ver2"> Education </h1>
    <ul>
        <li class = "blackLi"> University of Washington - 2012 - 2016 - BA Economics</li>
        <li class = "blackLi"> Washington State Real Estate License July 2021</li>
    </ul>

</section>

<section class = "employment">
    <h1 class = "h1-Ver2"> Employment </h1> 
    <ul>
        <li class = "blackLi"> Robert Half - Loan Processor May 2021 - Present</li>
        <li class = "blackLi"> Commencement Bay Properties LLC  January 2020 - May 2021 </li>
        <li class = "blackLi"> Transport Security Administration June 2019 - May 2021</li>
        <li class = "blackLi"> Greenville Properties LLC January 2017 - April 2019</li> 
    </ul>

</section>

<section class = "hobbies">

</section>