<div class = "introduction">
 <h1> A dedicated individaul </h1>
</div>

<section class = "education">
    <h2> Education </h2>
    <ul>
        <li> University of Washington - 2012 - 2016 - BA Economics</li>
        <li> Washington State Real Estate License July 2021</li>
    </ul>

</section>

<section class = "employment">
    <h2> Employment </h2> 
    <ul>
        <li> Robert Half - Loan Processor May 2021 - Present</li>
        <li> Commencement Bay Properties LLC  January 2020 - May 2021 </li>
        <li> Transport Security Administration June 2019 - May 2021</li>
        <li> Greenville Properties LLC January 2017 - April 2019</li> 
    </ul>

</section>

<section class = "hobbies">

</section>