{{#each application as |applications|}}
<section class="horizontal-content">
            <h2> {{application_name}} </h2>
            <h2>{{description}}</h2>
            <div class="main-image">
                <a href="http://zenithhighlight.com/">
                    <img id = "priority" src="/images/ZENITH_HIGHLIGHT_BANNER2.jpg">
                </a>
            </div>
        </section>

{{/each}}


 