<h1 class = "h1-Ver2"> Projects </h1>


        <!--Here comes some javascript elments, with a being a VAR-->
     <div class="slideshow-gimmick">
        {{!-- <div class="Slide fade">
            <img src="/images/JasonMaBanner.jpg">
        </div>
        <!--Here comes some javascript elments, with a being a VAR--> --}}
        <a class="prev" id="prevButton">&#10094;</a>
        <a class="next" id="nextButton">&#10095;</a>
    </div>
       


           
<section class="main-image">
<img src="images/ZENITH_HIGHLIGHT_BANNER2.jpg" id="slideshow-display">
</section>





<section class="profile-flex">
{{#each application as |applications|}}

<section class="horizontal-card">
<a href="{{link}}">
            <h2> {{application_name}} </h2>
            <h2>{{description}}</h2>
            
            {{!-- <div class="main-image">
                <a href="http://zenithhighlight.com/">
                    <img id = "priority" src="/images/ZENITH_HIGHLIGHT_BANNER2.jpg">
                </a>
            </div> --}}
</a>
        </section>

{{/each}}


 </section> 

 <script type="text/javascript" src="/js/slideshow2.js"></script>