{{#each application as |applications|}}
<h1 class="h1-Ver2"> {{application_name}} </h1>
{{/each}}

<form>
    <label for="application_name"> New Application Name: </label><br>
    <input id="application_name" type="text">
    <label for="application_link"> New Application link: </label>
    <br>
    <input id="application_link" type="text">
    <label for="application_description"> Application description </label>
    <br>
    <input id="application_description" type="text">
    <input type="submit" value="submit">
</form>

 <script type="text/javascript" src="/js/submit.js"></script>