
/* root defines universal variables */
:root{
    --maincolor: #003459;
    --secondarycolor: white;
    --tertiarycolor: #00171F;
    --complementary: #007ea7;


    --mainfont: 2.5vw;
    --secondaryfont: 3.5vw;
}

/* Litearlly sets the entire styling page to margin:auto */
* {
    margin:auto;
}

/* Sets the following elements as global styling */
p, ul {
    color: var(--secondarycolor);
    text-align:center;
    font-size: var(--mainfont);
    
}

h1{
    font-size:x-large;
    text-align:center;
    margin-bottom:1%;
    color: var(--secondarycolor);
}

/* The header for content ttitles*/
h3 {
   margin:1%;
    color: var(--secondarycolor);
    font-size: var(--secondaryfont);
    text-align:center;

}

/* styling for the main intro banner */
.introduction-banner {
    background-color: var(--maincolor);
    opacity:80%;
    box-shadow: 5px 10px;
    width:100%;
    min-height:40%;   
}

/* the nav styling that allows clickable and respondable links */
.navigation-menu {
    display: flex;
    justify-content:center;
    width:100%;
    min-height:30%;
    padding-bottom:3%;
}

.navigation-menu ul li{
    display:inline;
    list-style-type:none;
    padding:0 0 10px 10px;
}



/* global styling for all A tags */


.navigation-button {
    padding-top:2.5%;
    width:10%;
    background-color:var(--maincolor);

}

.navigation-button:hover {
    padding-top:2.5%;
    width:10%;
    background-color: var(--complementary);
}


/* sets the image size for almost all images */
.main-image img{
    padding:1%;
    display:flex;
    width:80%;
    height:70%;
}


/* sets the styling for the main/middle section of the webpage, also denotes flex for the parent container */ 
.middle-section {
    padding:3%;
    display:flex;
    flex-wrap:wrap;
}

/* the main container for content and text */
.placeholder-box{
    background-color:var(--maincolor);
    border-radius: 40px;
    opacity:95%;
    box-shadow:5px 10px;  
    width:40%; 
    height:20%;
    margin-top:2.5%;
    margin-bottom:2.5%;
}


/* allows some hover interactively, turning the background blue more transparent */
.placeholder-box:hover{
    opacity:50%;
}


/* styling for the horizontal, blue bars */
.horizontal-content {
    width:90%;
    background-color:var(--complementary);
    box-shadow: 5px 10px;
    margin-bottom:1%;
    text-align:center;
    padding:1%;
    border-radius:40px;
    margin-bottom:2%;
}



.horizontal-card {
    flex:none;
    width: 40%;
    background-color:var(--complementary);
    box-shadow: 5px 10px;
    
    text-align:center;
    padding:0.5%;
    border-radius:40px;
    margin-bottom:1%;
    margin-top:1%;
}

.horizontal-card:hover {
    opacity: 80%;
}

a {                        
    font-size: 2.75vw;
    font-style: Arial;
    text-decoration:none;
    color: var(--secondarycolor);
}

/* sets the image of the first project apart from the others */
/* read me instructions unclear, not sure if it means that on load */

#priority img {
    width:90%;
    height:100%;
}

#priority:hover{
    padding-top:1%;
    display:flex;
    width:95%;
    height:80%;
}


/* styling specific to contact LI.....really shoulda used a generic tag */
.contact-list li{

    color: var(--secondarycolor);
    font-size: var(--mainfont);
}

.project-container {
    display:flex;
    flex-direction:row;
    flex-flow:wrap;
    background-color: var(--secondarycolory);
}

.downloadable{
    color: var(--secondarycolor);
    
}

/*Media query, allowing specific styling when screen width
is adjusted */

@media screen and (max-width: 1080px) {
 
    .middle-section {
        flex-direction:column;
       }
   
    .placeholder-box{
        width:50%;
        margin-top:5%;
        margin-bottom:5%;
    }
    

@media screen and (max-width: 850px) {
 
 
.middle-section {
     flex-direction:column;
    }

.placeholder-box{
    margin-top:1%;
    margin-bottom:5%;
    width:100%;
    padding:5%;
}

.project-container {
    display:flex;
    flex-direction:column;
    flex-flow:wrap;
    background-color: var(--secondarycolory);
}

}}

